@import '../../../sassStyles/variables';

.dtl {
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        -webkit-user-drag: none;
        width: 100%;
        cursor: pointer;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
        white-space: nowrap;
    }
    &__primary {
        color: $primaryTextColor;
        position: relative;
        z-index: 1;
        pointer-events: none;
        &_p1, &_p2 {
            transition: .6s all;
        }
    }
    &__secondary {
        color: $secondaryTextColor;
        position: absolute;
        opacity: 0;
        transform: translateY(100%);
        transition: .6s all;
        pointer-events: none;
    }

}


.dtl_active {
    .dtl__primary {
        &_p1 {
            transform: translateY(-100%) rotate(-360deg);
        }
        &_p2 {
            transform: translateY(-100%) rotate(360deg);
        }
    }

    .dtl__secondary {
        opacity: 1;
        transform: translateY(0);
    }

}


// @keyframes fadeInUp {
//     from {
//         opacity: 0;
//         transform: translateY(100%);
//     }
//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }


// @keyframes flipTopCounterclockwise {
//     to {
//         transform: translateY(-100%) rotate(-360deg);
//     }
// }

// @keyframes flipTopClockwise {
//     to {
//         transform: translateY(-100%) rotate(360deg);
//     }
// }