@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';


.main-logo {
    &_with-border{
        .main-logo__wrapper {
            border: 2px solid rgba(255,255,255, .1);
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        padding: 4px 0 6px 4px;
        background-color: transparent;
        border-radius: 4px;
        span {
            display: flex; // !!!!important for animation without twitching
            height: 22px;
            line-height: 25px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            letter-spacing: 6px;
            transition: 0.6s all;
            -webkit-user-drag: none;
            user-select: none;
        }
        span:nth-child(1) {
            width: 128px;
            color: $primaryTextColor;
            overflow: hidden;
        }
        span:nth-child(2) {
            color: $primaryColor;
            transform: rotate(0) translateX(0) translateY(0);
        }
    }

}

.main-logo_collapsed {
    span:nth-child(1) {
        width: 18px;
    }
    span:nth-child(2) {
        transform: rotate(-90deg) translateX(9%) translateY(-5px);
        
    }
}







// media query
.main-logo {
    @include lgMaxBreakPoint {
        margin-left: 40px;
    }
    @include smMaxBreakPoint {
        margin-left: 0;
    }
    &__wrapper {
        span:nth-child(2) {
            @include lgMaxBreakPoint {
                margin-left: 3px;
            }
        }
    }
}