@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.skills-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    &-box_left {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: calc(100% - 40px);
        margin: 25px 0 55px 0;
    }
    &__li {
        display: inline-flex;
        justify-content: flex-start;
    }
    &__li-title {
        @extend %title-text;
        color: $primaryColor;
        justify-content: flex-start;
        padding: 0 0 20px 0;
        // border-bottom: 1px solid rgba(255,255,255, .1);
        border-bottom: 1px solid rgba($primaryColor, .1);
    }
    &__li-descr {
        justify-content: flex-start;
        margin-top: 10px;
        .item-list-string {
            letter-spacing: 0.08rem;
            text-transform: uppercase;
        }
    }
}





// media queries
.skills-section {
    @include customMaxBreakPoint(880px) {
        display: block;
        text-align: center;
    }
    @include smMaxBreakPoint {
        min-height: calc(100vh - 115px);
    }
    &-box_left {
        @include customMaxBreakPoint(880px) {
            width: 90%;
            padding-top: 30px;
            text-align: center;
        }
    }
    &__list {
        @include customMaxBreakPoint(880px) {
            gap: 50px;
        }
    }
    &__li, &__li-title, &__li-descr {
        @include customMaxBreakPoint(880px) {
            justify-content: center;
        }
    }
    &__li {
        .item-list-string {
            @include smMaxBreakPoint {
                justify-content: center;
            }
        }
    }
    &__li-title {
        @include customMaxBreakPoint(880px) {
            border: none;
        }
    }
    &__li-descr {
        @include customMaxBreakPoint(880px) {
            margin-top: 15px;
        }
        @include smMaxBreakPoint {
            margin-top: 35px;
        }
        @include customMaxBreakPoint(370px) {
            margin-top: 45px;
        }
    }
}