@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.super-alert {
    @extend %descr-text;
    position: absolute;
    z-index: 999;
    right: 10px;
    bottom: 10px;
    max-width: 440px;
    padding: 22px;
    border-radius: 4px;
    background-color: $secondaryBgColorLight;
    // text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    &.error{
        color: red;
    }
    &.success {
        color: #00b700;
    }
    &.active {
        opacity: 1;
        transform: translateX(0);
    }
}






// media queries
.super-alert {
    @include smMaxBreakPoint {
        position: fixed;
        right: 5px;
        max-width: 300px;
    }
}