@import '../../../sassStyles/variables';

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    &_left-box {
        width: 50%;
        max-width: 666px;
    }
    &__descr {
        @extend %descr-text;
        a {
            color: lighten($primaryColor, 20%);
        }
        margin-bottom: 20px;
    }
    &__form {

    }
    &__map {
        position: fixed;
        top: 0;
        right: -10%;
        bottom: 0;
        width: 55%;
        background-color: #fff;
    }
}
    