@import '../../../../sassStyles/variables';
@import '../../../../sassStyles/mixins';


.project__card {
    width: 400px;
    height: 495px; // todo: need to fix?
    border-radius: 6px;
    overflow: hidden;
    background-color: $secondaryBgColor;
    &-mockup {
        position: relative;
        width: 100%;
        height: 45%;
        overflow: hidden;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #bbbbbb;
            background-color: transparent;
            transition: .8s background-color;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .8s transform;
        }
    }
    &-mockup:hover {
        &::after {
            background-image: url(../../../../assets/icons/fullscreen.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14%;
            background-color: rgba(0,0,0, .6);
        }
        img {
            transform: scale(1.1);
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 55%;
        padding: 30px 30px 25px 30px;
        user-select: none;
        // padding: 45px 40px 45px 40px; // with after & before decorators
        background-color: $secondaryBgColor;
        // &::before {
        //     top: 25px;
        //     left: 22px;
        //     border-top: 2px solid $primaryColor;
        //     border-left: 2px solid $primaryColor;
        // }
        // &::after {
        //     bottom: 25px;
        //     right: 22px;
        //     border-right: 2px solid $primaryColor;
        //     border-bottom: 2px solid $primaryColor;
        // }
    }
    // &-info::before, &-info::after {
    //     content: '';
    //     position: absolute;
    //     width: 55px;
    //     height: 55px;
    // }
    &-title {
        @extend %title-text;  
    }
    &-descr {
        @extend %descr-text;
        margin-top: 20px;
        height: 90px; // todo: need to fix
        overflow: hidden; //
        // min-height: 90px; // todo: need some styles if descr length not the same (there is a lot of empty space)
                            // technologes with links or links only may be position bottom: 0 ???
        // margin-top: 30px; // with after & before decorators

        // background-color: $secondaryBgColorLight; // todo: need some styles for descr block
        // padding: 10px 25px;
    }
    &-technologies {
        margin-top: 22px;
        // margin-top: 30px; // with after & before decorators
    }
    &-btn {
        display: block;
        margin-top: 20px;
        margin-left: auto;
    }
    &-links {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
    }
    &-link {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-link:hover {
        transform: scale(1.2);
    }
}






// media queries
.project__card {
    @include customMaxBreakPoint(430px) {
        width: 315px;
    }
    &-info {
        @include customMaxBreakPoint(430px) {
            padding: 20px;
        }
        @include customMaxBreakPoint(430px) {
            justify-content: start;
        }
        .project__card-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }
    }
    &-descr {
        @include customMaxBreakPoint(430px) {
            height: 110px;
        }
    }
    &-technologies {
        @include customMaxBreakPoint(430px) {
            margin-top: 10px;
        }
    }
    &-links {
        @include customMaxBreakPoint(430px) {
            margin-top: 5px;
        }
    }
}