@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.header {
    // position: fixed;
    position: relative;
    z-index: 999;
    // top: 0;
    // left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    height: 100vh;
    padding: 15px 10px;
    background-color: $secondaryBgColor;
}







// media queries
.header {
    @include lgMaxBreakPoint {
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    @include smMaxBreakPoint {
        flex-direction: column;
        align-items: start;
    }
}