.about-section {
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__title {

    }
    &__descr {
        max-width: 600px;
    }
}