@import '../../../sassStyles/variables';

.home-section {
    // background: url('../../../assets/images/temporary_low_q_png.png');
    // background-position: right 50px bottom 0;
    // background-size: contain;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &__welcome-block {
        position: absolute;
	    top: 20%;
	    left: 0;
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        span {
            margin-bottom: 6px;
        }
        span:nth-child(3) {
            align-self: flex-end;
            margin-right: 36px;
            margin-bottom: 30px;
        }
    }
    &__buttons {
        display: flex;
        gap: 22px;
    }
    &__btn {
        padding: .8em 2.1em;
        border: 2px solid $primaryColor;
        border-radius: 30px;
        font-family: 'Maven Pro', sans-serif;
        box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
        text-transform: uppercase;
    }
    &__image {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: 10px;
        img {
            height: 100%;
        }
    }
}




.roles__wrapper {
    // border: 2px solid #fff;
    // min-width: 10px;
    // margin-right: 33px;
    // transition: 1s all;
}


.roles__item {
    position: relative;
    display: inline-block;
    padding: 4px;
    color: $primaryColor;
    // background-color: $primaryColor;
    // color: #fff;
    animation: fadeInOut;
    // animation-direction: alternate;
}

@keyframes fadeInOut {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}