@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.home-section {
    // background: url('../../../assets/images/temporary_low_q_png.png');
    // background-position: right 50px bottom 0;
    // background-size: contain;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &__welcome-block {
        position: absolute;
	    top: 20%;
	    left: 0;
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .names {
            position: relative;
        }
        .nickname {
            display: block;
            position: absolute;
            top: 0;
            right: 6px;
            transform: rotate(0);
            color: $primaryColor;
            font-size: 22px;
            opacity: 0;
            transition: .3s all;
            letter-spacing: 2px;
            font-family: 'Maven Pro';
        }
        &:hover {
            .nickname {
                top: -44px;
                transform: rotate(15deg);
                opacity: 1;
            }
        }
    }
    &__buttons {
        display: flex;
        gap: 22px;
        transform: translateX(-40px);
    }
    &__btn {
        
    }
    &__image {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: 10px;
        img {
            height: 100%;
        }
    }
}




.roles__wrapper {
    // border: 2px solid #fff;
    // min-width: 10px;
    // margin-right: 33px;
    // transition: 1s all;
}


.roles__item {
    position: relative;
    display: inline-block;
    padding: 4px;
    color: $primaryColor;
    // background-color: $primaryColor;
    // color: #fff;
    animation: fadeInOutDown;
    // animation-direction: alternate;
}

@keyframes fadeInOutDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}








// media queries
.home-section {
    @include smMaxBreakPoint {
        min-height: calc(100vh - 115px);
    }
    &__image {
        @include xlMaxBreakPoint {
            width: 50%;
        }
        @include lgMaxBreakPoint {
            width: 43%;
            height: 90%;
        }
        // @include customMaxBreakPoint(880px) { conditional rendering with react-responsive was used
        //     display: none;
        // }
    }
    &__welcome-block {
        @include customMaxBreakPoint(880px) {
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 500px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // width: 100%;
        }
        @include smMaxBreakPoint {
            width: 95%;
            padding-top: 30px;
            position: relative;
        }
    }
    &__title {
        .nickname {
            @include lgMaxBreakPoint {
                top: -44px;
                transform: rotate(15deg);
                opacity: 1;
            }
            @include smMaxBreakPoint {
                top: 55px;
            }
            @include customMaxBreakPoint(480px) {
                top: 92px;
                right: -20px;
                transform: rotate(0);
            }
        }
        &:hover {
            .nickname {
                @include smMaxBreakPoint {
                    top: 55px;
                }
                @include customMaxBreakPoint(480px) {
                    top: 92px;
                    right: -20px;
                    transform: rotate(0);
                }
            }
        }
    }
    &__buttons {
        @include customMaxBreakPoint(880px) {
            transform: translateX(0);
        }
        @include customMaxBreakPoint(430px) {
            flex-direction: column;
        }
    }
    .roles__item {
        @include customMaxBreakPoint(480px) {
            display: block;
            padding: 0;
        }
    }
}