@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Open+Sans:wght@400;700&family=Maven+Pro&family=Roboto&display=swap");
// todo: add Roboto 700 fw

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

button,
input,
textarea {
	border: none;
	outline: none;
	font-family: "Open Sans", sans-serif;
}

button,
input,
textarea,
a {
	&:focus-visible {
		outline: 2px solid rgba(255, 255, 255, 0.6);
	}
}

button {
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	color: $primaryTextColor;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-color: $primaryBgColor;
}

.section-descr-block {
	@extend %descr-text;
	position: absolute;
	top: 20%;
	left: 0;
}
.section-title {
	@extend %section-title;
	-webkit-user-drag: none;
	user-select: none;
}



.hidden-stub {
	display: none;
}
