@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Open+Sans:wght@400;700&family=Maven+Pro&family=Roboto&display=swap");
// todo: add Roboto 700 fw

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

p {
	margin: 0;
}

button,
input,
textarea {
	border: none;
	outline: none;
	font-family: "Open Sans", sans-serif;
}

button,
input,
textarea,
a {
	&:focus-visible {
		outline: 2px solid rgba(255, 255, 255, 0.6);
		border-radius: 4px; // for :focus-visible - outline styles
	}
}

// user agent stylesheet bgColor & color autofill disable
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

button {
	background-color: transparent;
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	color: $primaryTextColor;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-color: $primaryBgColor;
}


.section-title {
	@extend %section-title;
	-webkit-user-drag: none;
	user-select: none;
	margin-bottom: 30px;
	transform: translateX(-40px);
}

.button {
	@extend %decorated-text;
	padding: .8em 2.1em;
	border: 2px solid $primaryColor;
	// border-radius: 30px;
	border-radius: 4px;
	font-family: 'Maven Pro', sans-serif;
	box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
	text-transform: uppercase;
	color: $primaryTextColor;
	background-color: transparent;
	user-select: none;
}
.button:hover {
	// background-color: lighten($primaryColor, 1%);
	background-color: rgba($primaryColor, .2);
}


.hidden-stub {
	display: none;
}
