// SCREEN SIZES
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;



// BACKGROUND COLORS
$primaryColor: #193fb4;
$primaryLightColor: lighten($primaryColor, 25%); // elements (some buttons, borders, lines etc)

$secondaryColor: #ecf1f5;


// TEXT COLORS
$textPrimaryColor: #545454; // main
$textSecondaryColor: #888888; // description

$textDarkColor: #353535;
$textLightColor: #eeedf8;



// ________Other Colors
$warningColor: #b3465c;





// ________Text Extends
%title-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: $textPrimaryColor;
}

%descr-text {
    font-size: 1.03rem;
    font-weight: 300;
    color: $textSecondaryColor;
}




// // ________Buttons Extends
// %button {
//     color: $bgBlockColor;
//     background-color: $bgPrimaryLightColor;
//     &:hover {
//         opacity: 0.8;
//     }
// }

// // opposite button
// %opp-button {
//     border: 1px solid $bgPrimaryLightColor;
//     color: $bgPrimaryLightColor;
//     background-color: $bgBlockColor;
// }



// // ________Blocks Extends
// %block {
//     box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
//     background-color: $bgBlockColor;
// }
