// SCREEN SIZES
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 991px;
$screen-xl: 1199px;
$screen-xxl: 1300px;
$screen-full: 1400px;



// MAIN COLORS
// elements (some buttons, borders, lines etc)
$primaryColor: #ec1839;
// $primaryColor: #ff7c25;
$secondaryColor: #2f9896;

// BACKGROUND COLORS
$primaryBgColor: #010101; // main background color (body, sections, etc)
$secondaryBgColor: #161616; // secondary background color (some blocks and other elements)
$secondaryBgColorLight: lighten($secondaryBgColor, 5%); // secondary background color (some blocks and other elements)
// $primaryBgColor: #141414; // main background color (body, sections, etc)
// $secondaryBgColor: #222222; // secondary background color (some blocks and other elements)
// $secondaryBgColor: #111222; // secondary background color (some blocks and other elements)

// TEXT COLORS
$primaryTextColor: #ffffff;
$secondaryTextColor: #989a9c;
$darkTextColor: #353535;
// $lightTextColor: #eeedf8;


// ________Other Colors
$warningColor: #b3465c;





// ________Text Extends
%section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 700;
    color: $primaryTextColor;
}


%title-text {
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 600;
    color: $primaryTextColor;
}

%descr-text {
    font-family: "Open Sans", sans-serif;
    // font-size: 17px;
    // line-height: 27px;
    // font-weight: 400;
    // font-family: 'Roboto', sans-serif;
    font-size: 1.03rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: $secondaryTextColor;
}

%decorated-text {
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    color: $secondaryTextColor;
}
