@import '../../../../sassStyles/variables';
@import '../../../../sassStyles/mixins';

.contact-details {
    @extend %descr-text;
    position: absolute;
    top: 66px;
    left: 66px;
    z-index: 222;
    width: 266px;
    padding: 20px;
    // border: 2px solid rgba($primaryColor, .8); // todo: mb create some styles
    border-radius: 4px;
    background-color: rgba(0,0,0, .8);
    p {
        margin: 0;
    }
    &__email {
        display: block;
        margin-top: 10px;
    }


    .contacts {
        margin-top: 20px;
        &__list {
            transform: rotate(0);
            justify-content: center; 
            flex-direction: row;
            &-item {
                width: 50px;
            }
        }
        &__link {
            transform: rotate(0);
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(102%) contrast(102%);
        }
    }
}








// media queries
.contact-details {
    @include customMaxBreakPoint(880px) {
        top: 8px;
    }
    @include mdMaxBreakPoint {
        left: 40px;
        padding: 10px;
    }
    @include smMaxBreakPoint {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -110%);
    }
    @include smMaxBreakPoint {
        padding: 20px;
    }
}