@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.navbar {
    width: 100%;
    &__list {
        display: flex;
        flex-direction: column;
        // gap: 6px;
    }
    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }



    &__link {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 14px 0;
        &-icon {
            width: 26px;
            -webkit-user-drag: none;
            user-select: none;
        }
        &-label {
            width: 98px;
            margin-left: 10px;
            color: $secondaryTextColor;
            // text-transform: uppercase; // todo: how will be better?
            font-family: 'Maven Pro',sans-serif;
            transform: rotate(0);
            overflow: hidden;
            transition-property: width, margin-left, transform;
            transition-duration: .6s;
        }
    }
    &__link-active:after {
        content: '>';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        color: $primaryColor;
        font-weight: bold;
        transition: all .6s;
    }
    &__link:hover .navbar__link-icon,
    &__link-active .navbar__link-icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(102%) contrast(102%);
    }
    &__link:hover .navbar__link-label,
    &__link-active .navbar__link-label {
        color: $primaryTextColor;
    }
}

.navbar__list_collapsed {
    .navbar__link-active:after {
        right: -6px;
    }

    .navbar__link-label {
        width: 0;
        margin-left: 0;
        transform: rotate(90deg);
    }
}






// media queries
.navbar {
    @include lgMaxBreakPoint {
        width: auto;
        padding: 0 40px;
    }
    @include smMaxBreakPoint {
        width: 100%;
        padding: 10px 0 0 0;
    }
    &__list {
        @include lgMaxBreakPoint {
            flex-direction: row;
        }
        @include mdMaxBreakPoint {
        }
        @include smMaxBreakPoint {
            justify-content: center;
            background-color: $secondaryBgColor;
        }
    }
    &__list-item {
        @include lgMaxBreakPoint {
            margin-bottom: 0;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        @include mdMaxBreakPoint {
            margin-right: 20px;
        }
        @include smMaxBreakPoint {
            margin-right: 10px;
        }
    }
    &__link {
        @include lgMaxBreakPoint {
            width: 50px;
        }
        @include mdMaxBreakPoint {
            width: 40px;
        }
        @include smMaxBreakPoint {
            padding: 5px 0;
        }
    }
    &__link-active:after {
        @include lgMaxBreakPoint {
            display: none;
        }
    }
    &__link-label {
        @include lgMaxBreakPoint {
            display: none;
        }
    }
    .navbar__list_collapsed {
        @include smMaxBreakPoint {
            
        }
    }
    &__link:hover .navbar__link-icon {
        @include lgMaxBreakPoint {
            filter: none;
        }
    }
    &__link-active .navbar__link-icon {
        @include lgMaxBreakPoint {
            filter: invert(28%) sepia(97%) saturate(6367%) hue-rotate(342deg) brightness(94%) contrast(97%);
        }
    }
    &__link-active:hover .navbar__link-icon {
        @include lgMaxBreakPoint {
            filter: invert(28%) sepia(97%) saturate(6367%) hue-rotate(342deg) brightness(94%) contrast(97%);
        }
    }
}


.navbar {
    @include smMaxBreakPoint {
        transition: .8s all;
        transform: translateX(0);
        padding-top: 10px;
    }
}

.main-logo_collapsed {
    +.navbar {
        @include smMaxBreakPoint {
            height: 0;
            padding-top: 0;
            transform: translateX(calc(-100% - 20px));
        }
    }
}