@import '../../../sassStyles/variables';

.navbar {
    width: 100%;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    &__link {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 14px 0;
        &-icon {
            width: 26px;
            -webkit-user-drag: none;
            user-select: none;
        }
        &-label {
            width: 98px;
            margin-left: 10px;
            color: $secondaryTextColor;
            // text-transform: uppercase; // todo: how will be better?
            font-family: 'Maven Pro',sans-serif;
            transform: rotate(0);
            overflow: hidden;
            transition-property: width, margin-left, transform;
            transition-duration: .6s;
        }
    }
    &__link-active:after {
        content: '>';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-40%);
        color: red;
        font-weight: bold;
        transition: all .6s;
    }
    &__link:hover .navbar__link-icon,
    &__link-active .navbar__link-icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(102%) contrast(102%);
    }
    &__link:hover .navbar__link-label,
    &__link-active .navbar__link-label {
        color: $primaryTextColor;
    }
}

.navbar__list_collapsed {
    .navbar__link-active:after {
        right: -6px;
    }

    .navbar__link-label {
        width: 0;
        margin-left: 0;
        transform: rotate(90deg);
    }
}