@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.item-list-string {
    @extend %decorated-text;
    display: flex;
    align-items: center;
    // gap: 5px;
    // overflow: hidden;
}

.item-list-elem {
    margin-top: 5px;
    &:last-child {
        margin-right: 0;
    }
}
.item-list-decorator {
    color: $primaryColor;
}

.flex-space-between {
    justify-content: space-between;
}




// media queries
.item-list-string {
    @include customMaxBreakPoint(500px) {
        flex-wrap: wrap;
    }
}